@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    @apply md:text-3xl text-2xl font-extrabold tracking-tight
}

.link {
    @apply tracking-tight text-neutral-500 hover:underline
}

.link2 {
    @apply tracking-tight text-neutral-200 hover:underline
}

.text-icon {
    @apply inline-flex gap-2 items-center justify-center
}

.btn-primary {
    @apply inline-flex tracking-tight bg-orange-500 text-white py-2 px-10 rounded hover:bg-orange-400 duration-200
}

input {
    @apply p-2 outline-neutral-500 border rounded placeholder-neutral-500 bg-neutral-900 border-neutral-600
}

h2 {
    @apply text-xl font-bold tracking-tight
}

.bg {
    @apply bg-black
}

.text {
    @apply text-neutral-100
}

.mars-glow {
    box-shadow: 1px 1px 5px #9b5e3c;
    text-shadow: 1px 1px #9b5e3c;
}

.img {
    filter: blur(2px);
}

.error {
    @apply p-2 md:w-4/12 w-full inline-flex justify-between px-4 items-center gap-3 bg-red-500/15 border-red-500 text-red-500 rounded border
}

li {
    @apply hover:text-white text-neutral-400 duration-200
}